<html class="manual_drive">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="/static/display.css?">
        <script src="/static/lib/jquery-3.3.1.min.js"></script>
        <script src="/static/touch-slider.js"></script>
        <style>html, body {margin: 0; height: 100%; overflow: hidden}</style>
        <title>Manually Drive The Robot</title>
    </head>
    <body>
        <svg id="left_slider" class="slider_track" viewBox="-10 -100 20 200">
            <circle r="18" class="slider_tick"/>
        </svg>
        <a class="button" id="exitbutton">Exit</a>
        <div id="video"><img src="{{ url_for('display') }}" /></div>
        <svg id="right_slider" class="slider_track" viewBox="-10 -100 20 200">
            <circle r="18" class="slider_tick"/>
        </svg>
        <script type="text/javascript">
            function set_motor(name, speed) {
                $.post('/control', {'command': 'set_' + name, 'speed': speed});
            }
            $(() => {
                $('#exitbutton').click(function() {
                    $.post('/control', {'command': 'exit'});
                    window.location.replace('//' + window.location.hostname + ":5000");
                });

                makeSlider('left_slider', speed => set_motor('left', speed));
                makeSlider('right_slider', speed => set_motor('right', speed));
            });
        </script>
    </body>
</html>
