<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>My Robot Menu</title>
</head>
<body>
  <h1>My Robot Menu</h1>
    <p id="message"></p>
    <ul>
      {% for item in menu %}
        <li>
            <a href="#" onclick="run('/run/{{ item.mode_name }}')">
                {{ item.text }}
            </a>
        </li>
      {% endfor %}
    <li><a href="#" onclick="run('/stop')">Stop</a></li>
  </ul>
</body>
<script>
    function run(url) {
      $.post(url, '', response => $('#message').html(response))
    }
</script>
</html>
